/*formulario */
.contenedor-contactanos {
  width: 960px;
  margin: 0 auto;
  padding: 50px 0 0 0;
}

form {
  margin: 70px 25%;
  
}

.div-contacto p {
  font-family: var(--Permanent-Marker);
  text-align: center;
  font-size: 1.5rem;
}

fieldset {
  border-style: none;
}

#tele, #mail{
  margin-top:15px;
}

form label,
form legend {
  display: block;
  font-size: 1.2rem;
  margin: 0 0 10px;
  font-family: var(--Permanent-Marker);
}

form legend {
  font-size: 1.5rem;
}

input,
textarea {
  font-size: 1.2rem;
  border: none;
  font-family: var(--Permanent-Marker);
}

.cambio-color {
  color: #82b901;
  text-transform: uppercase;
}

textarea {
  width: 100%;
}

.input-padron {
  display: block;
  padding: 10px 25px;
  width: 100%;
}

.label-checkbox {
  margin: 20px 0;
}

.hero {
  text-align: center;
}

.btnEnviar {
  width: 100%;
  margin: 20px auto 70px auto;
  padding: 15px 0;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  background-color: #82b901;
  border: none;
  border-radius: 10px;
  transition: 1s all;
  cursor: pointer;
}

.btnEnviar:hover {
  background-color: #72a105;
  transform: scale(1.2);
}

@media screen and (max-width: 768px){
  .contenedor-contactanos {
    width: auto;
  }

  .div-contacto p {
    font-size: 1.3rem;
  }


  form {
    margin: 70px 2%;
  }


.input-padron {
    display: block;
  }
}

@media screen and (max-width: 640px) {
  /*formulario*/


  .div-contacto p {
font-size: 1.2rem;
  }
}

  @media screen and (max-width: 320px){

    .div-contacto p {
      font-size: 1rem;
        }

        form{
          margin: 50px 2% 0 2%;
        }
  }
