.topnav {
  overflow: hidden;
}

.anchor {
  text-align: center;
}
.topnav a {
  float: left;
  display: block;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04aa6d;
  color: white;
}

.topnav .icon {
  display: none;
}

a {
  text-align: center;
}

a img {
  width: 60%;
}

@media screen and (max-width: 640px) {
  i {
    margin-right: 30px;
  }
  a img {
    width: 30%;
  }
  .topnav a:not(:first-child) {
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 640px) {
  .topnav.responsive {
    position: relative;
  }

  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
  }
}

@media screen and (max-width: 768px) {
  a{
    width: 30%;
  }
  a img {
    width: 60%;
  }
}